body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('../image/backgorund.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #02121F;
  color: #fff;
  overflow: hidden;
  }
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.octopus {
  position: absolute;
  width: 100%;
  top: 60%;
  left: 49%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.circles {
  position: absolute;
  width: 37%;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.teamIcon {
  position: absolute;
  margin-top: 30%;
  width: 100px;
  height: auto;
  z-index: 3;
  transition: transform 0.3s ease, width 0.3s ease, opacity 0.3s ease, transform 0.3s ease; /* Added opacity and transform transitions */
}
.teamIcon:hover {
  cursor: pointer; /* Change cursor to indicate interactivity */
  z-index: 4; /* Ensure the icon is above other elements when enlarged */
}

/* Additional CSS for when the icon changes to logo.png on hover */
.teamIcon.logo-hover {
  width: 500px; /* Larger size when the logo appears */
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
}

/* Specific transformations for each icon */
.teamIcon-1 { transform: rotate(0deg) translateX(   -400px)  rotate(-0deg) ; }
.teamIcon-2 { transform: rotate(25deg) translateX(  -400px)  rotate(-25deg) ; }
.teamIcon-3 { transform: rotate(45deg) translateX(  -400px)  rotate(-45deg) ; }
.teamIcon-4 { transform: rotate(65deg) translateX(  -395px)  rotate(-65deg) ; }
.teamIcon-6 { transform: rotate(85deg) translateX( -385px)  rotate(-85deg); }
.teamIcon-7 { transform: rotate(108deg) translateX( -390px)  rotate(-108deg); }
.teamIcon-8 { transform: rotate(132deg) translateX( -392px)  rotate(-132deg); }
.teamIcon-9 { transform: rotate(155deg) translateX( -400px)  rotate(-155deg); }
.teamIcon-10 {transform: rotate(180deg)  translateX(-400px)  rotate(-180deg); }

/* Media Query for 1920x1080 */
@media (min-width: 1680px) and (max-width: 1920px) {
  .teamIcon {
    width: 100px; /* Slightly larger icons for larger screens */
    transform-origin: bottom center;
  }
  .teamIcon-1 { transform: rotate(5deg) translateX(   -600px) rotate(-5deg) ; }
  .teamIcon-2 { transform: rotate(25deg) translateX(  -600px) rotate(-25deg); }
  .teamIcon-3 { transform: rotate(48deg) translateX(  -600px) rotate(-48deg); }
  .teamIcon-4 { transform: rotate(70deg) translateX(  -590px) rotate(-70deg); }
  .teamIcon-6 { transform: rotate(90deg) translateX( -570px) rotate(-90deg); }
  .teamIcon-7 { transform: rotate(110deg) translateX( -590px) rotate(-110deg); }
  .teamIcon-8 { transform: rotate(130deg) translateX( -600px) rotate(-130deg); }
  .teamIcon-9 { transform: rotate(150deg) translateX( -600px) rotate(-150deg); }
  .teamIcon-10 {transform: rotate(173deg)  translateX(-600px) rotate(-173deg); }
  .octopus {
    width: 100%;
    top: 500px;
  }
}

/* Media Query for 1440x1024 */
@media (min-width: 1280px) and (max-width: 1440px) {
  .teamIcon {
    margin-top: 30%;
    width: 100px; 
  }
  .teamIcon-1 { transform: rotate(0deg) translateX(   -400px)  rotate(-0deg) ; }
  .teamIcon-2 { transform: rotate(25deg) translateX(  -400px)  rotate(-25deg) ; }
  .teamIcon-3 { transform: rotate(45deg) translateX(  -400px)  rotate(-45deg) ; }
  .teamIcon-4 { transform: rotate(65deg) translateX(  -395px)  rotate(-65deg) ; }
  .teamIcon-6 { transform: rotate(85deg) translateX( -385px)  rotate(-85deg); }
  .teamIcon-7 { transform: rotate(108deg) translateX( -390px)  rotate(-108deg); }
  .teamIcon-8 { transform: rotate(132deg) translateX( -392px)  rotate(-132deg); }
  .teamIcon-9 { transform: rotate(155deg) translateX( -400px)  rotate(-155deg); }
  .teamIcon-10 {transform: rotate(180deg)  translateX(-400px)  rotate(-180deg); }
  .octopus {
    width: 100%; /* Slightly smaller octopus */
  }
}


.logo {
  position: absolute;
  width: 20%;
  top: -5%;
  left: 10px;
  height: auto;
}



#contactButton {
  position: absolute;
  top: 600px;
  right: 630px;
  transform: translateX(-50%);
  padding: 10px 25px;
  font-size: 17px;
  color: #fff;
  background: linear-gradient(45deg, rgba(5, 255, 241, 0.75), rgba(19, 84, 122, 0.75));
  border: 1px solid rgba(5, 255, 241, 0.75);
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(5, 255, 241, 0.4), 0 -4px 6px rgba(255, 255, 255, 0.4) inset;
  backdrop-filter: blur(8px);
  outline: none;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

#contactButton:hover {
  background: linear-gradient(45deg, rgba(5, 255, 241, 1), rgba(19, 84, 122, 1));
  box-shadow: 0 6px 12px rgba(5, 255, 241, 0.8), 0 -4px 12px rgba(255, 255, 255, 0.4) inset;
}


/* Styling for popup to make it larger and more readable */
.popup {
  position: fixed;
  padding: 30px;
  width: 800px; /* Set a fixed width */
  height: 400px; /* Set a fixed height */
  max-width: 1000px; 
  background: rgba(0, 0, 0, 0.8); /* Semi-transparent black background */
  backdrop-filter: blur(20px);
  color: #fff;
  border-radius: 10px;
  display: none;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 10px 10px 10px rgba(44, 207, 244, 0.5);
  text-align: center;
  font-size: 20px;
  gap: 150px;
  font-family: 'Ubuntu', sans-serif; /* Using Ubuntu font */
  animation: fadeIn 0.5s ease-out;
}


#popupContent {
  color: #E8E8E8;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');


.popupTitle {
  margin: 0;
  padding-bottom: 20px;
  color: #69afb6; /* Bright cyan for a futuristic look */
  box-shadow: #69afb6;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  display: none;
  z-index: 5; /* Below the popup but above other content */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}


