body, html {
  margin: 0;
  padding: 0;
  background-image: url('octoposprime.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  background-color: rgba(151, 74, 74, 0.8);
  padding: 20px;
  text-align: left;
}

header .logo img {
  height: 50px;
}

.content {
  padding: 10px;
  margin-top: 40px;
}

.content section {
  background-color: rgba(255, 255, 255, 0.1);
  margin: 50px 0;
  padding: 50px;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
