/*About Page*/

.main1 {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}

.section1 {
  margin-bottom: 30px;
}

h1,
h2,
h3 {
  color: #ffffff;
}

.team-member {
  display: inline-block;
  margin-right: 20px;
}

.team-member img {
  max-width: 200px;
  border-radius: 5px;
}
